{% extends "base.html" %}
{% load staticfiles %}
{% block content %}    <section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Learn at your own pace.</h1>
                    <p>The Learning Gateway is adaptable to the learning needs of a global community of technology learners. We offer learning pathways that connect learners with mentors and knowledge needed to be successful.</p>
                    <a href="/accounts/signup/" class="btn btn-common">SIGN UP</a>
                </div>
                <img src="{% static "images/home/slider/hill.png" %}" class="slider-hill" alt="slider image">
                <img src="{% static "images/home/slider/house.png" %}" class="slider-house" alt="slider image">
                <img src="{% static "images/home/slider/sun.png" %}" class="slider-sun" alt="slider image">
                <img src="{% static "images/home/slider/birds1.png" %}" class="slider-birds1" alt="slider image">
                <img src="{% static "images/home/slider/birds2.png" %}" class="slider-birds2" alt="slider image">
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
{% endblock %}